// Import tailwind to project
@tailwind base;
@tailwind components;
@tailwind utilities;

// Import theming
@import url(theme/theme.light.css) (prefers-color-scheme: light);
@import url(theme/theme.dark.css) (prefers-color-scheme: dark);

// Initialise page styling
html,
body {
  width: 100%;
  height: 100%;
  background: var(--primary);
}

// Set up main page grid
#grid {
  display: grid;
  grid-template-areas: 'sidenav main main main main main main';
  grid-template-rows: 1fr;
  grid-template-columns: min-content 1fr;
}

// Font styling
h1,
h2,
h3 {
  margin: 1rem;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1rem;
}
