:root {
  /* Primary (surface) */
  --primary: #e3dfd8;
  --on-primary: #1c2027;

  /* Primary accent */
  --primary-accent: #326a6a;
  --on-primary-accent: #f3f0ec;

  /* Sidebar */
  --sidebar: #f3f0ec;
  --on-sidebar: #181b23;

  /* Filter */
  --filter-item: #f3f0ec;
  --on-filter-item: #181b23;

  --filter-chip: #111217;
  --on-filter-chip: #f3f0ec;
}
