:root {
  /* Primary (surface) */
  --primary: #1c2027;
  --on-primary: #e3dfd8;

  /* Primary accent */
  --primary-accent: #cd9595;
  --on-primary-accent: #1c2027;

  /* Sidebar */
  --sidebar: #181b23;
  --on-sidebar: #e7e4dc;

  /* Filter */
  --filter-item: #181b23;
  --on-filter-item: #e7e4dc;

  --filter-chip: #111217;
  --on-filter-chip: #e7e4dc;
}
